<div class="blog-card alt">
	<div class="photo"><%= image_tag post.picture, :class => "img-responsive"%></div>
	<ul class="details">
		<li class="author"><a href="#">Victor</a></li>
		<li class="date">Aug. 28, 2016</li>
		<li class="tags">
			<ul>
				<li><a href="#">Learn</a></li>
				<li><a href="#">Code</a></li>
				<li><a href="#">HTML</a></li>
				<li><a href="#">CSS</a></li>
			</ul>
		</li>
	</ul>
	<div class="description">
		<h1><%=  link_to post.titile, post %></h1>
		<h2></h2>
		<%=post.body.truncate(150, separator: ' ', omission:' ')%>
    <%= link_to '...more', post %>


    <%= link_to 'Edit', edit_post_path(post), :class=>"btn btn-success"%>
    <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?'}, :class=>"btn btn-danger" %>
	</div>
</div>
